DATABASE_URL=mongodb://localhost:27017
DATABASE_NAME=bedrock
SECRET_KEY=thisbetterbesecretkey
API_KEY_1=DUMMY_KEY
API_KEY_2=DUMMY_KEY
API_KEY_3=DUMMY_KEY
API_KEY_4=DUMMY_KEY
API_KEY_5=DUMMY_KEY
API_KEY_6=DUMMY_KEY
TAVILY_API_KEY=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
OPENAI_API=DUMMY_KEY
QUERY_URL=https://llm.katiyar.xyz/query
REMOTE_GPU=False
USE_VISION_MODEL=False
VISION_URL=https://llm.katiyar.xyz/vision-query
MAIN_MODEL=gpt-oss:20b-50k-8k
LOCAL_BASE_URL=http://localhost