version: "3.9"

services:
  notebook:
    image: samsung:latest
    container_name: samsung
    network_mode: host
    env_file:
      - .env
    volumes:
      - ./data:/backend/data
    depends_on:
      mongo:
        condition: service_started
    restart: unless-stopped

  mongo:
    image: mongo:latest
    container_name: mongodb
    network_mode: host
    volumes:
      - mongo_data:/data/db
    restart: unless-stopped

volumes:
  mongo_data:
