bcrypt
chromadb
fastapi
langchain
langchain-chroma
langchain-community
langchain-core
langchain-huggingface
tavily-python
langchain-ollama
langgraph
PyJWT
pymongo
pytesseract
python-dotenv
python-multipart
python-socketio
torch
uvicorn
uvicorn[standard]
aiofiles
google-genai
openai
aiofiles
matplotlib
wordcloud
nltk
pydantic
pydantic[email]
sentence-transformers
PyMuPDF
python-pptx
beautifulsoup4
markdown
lxml
pandas
xlrd
openpyxl
tabulate
olefile
tiktoken
numpy
opencv-python-headless
pdf2image
easyocr